<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="ms-3" href="https://www.instagram.com/prince_mali____/?hl=en">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/princemali909">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/Prince-Mali">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>