<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" navbar-nav offcanvas offcanvas-end" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title protest-guerrilla-regular" id="offcanvasNavbarLabel">Wanderlust</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="navbar-nav">
              <a class="nav-link nav-explore" href="/listings">Explore All</a>
            </div>
            <div class="navbar-nav nav-search">
              <form class="d-flex" role="search" method="post" action="/listings/country">
                <input class="form-control nav-search-bar me-2 outline-none" type="search" name="country" placeholder="Search by country" aria-label="Search">
                <button class="nav-search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
            <div class="navbar-nav">
              <a class="nav-link" href="/listings/new">Airbnb your home</a>
              <% if(!currentUser) { %>
                <a class="nav-link" href="/login"><b>Login</b></a>
                <a class="nav-link" href="/signup"><b>Signup</b></a>
                <% } %>
                <% if (currentUser) { %>
                <a class="nav-link" href="/logout"><b>Logout</b></a>
              <% } %>
            </div>
        </div>
      </div>
    </div>
</nav>



