body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
    position: relative;
}

/* nav-search */

.nav-search {
    padding: 8px;
    padding-left: 20px !important;
    border: 1px solid black;
    border-radius: 25px;
}

.nav-search-bar {
    border: none !important;
}

.nav-search-btn {
    background-color: #FF385C !important;
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 50% !important;
}

.nav-search-btn i {
    color: white !important;
}

.offcanvas {
    justify-content: center;
}

.offcanvas-body {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
}

@media (max-width : 800px) {
    .nav-search {
        display: none !important;
    }
}

/* footer */
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.8rem;
    margin-right: 1rem;
}

.f-info-socials a {
    text-decoration: none;
    color: black;
}

.nav-link{
    color: #222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}


/* cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 500 !important;
}

/* listing */
.listing-link {
    text-decoration: none;
}

/* card-effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.4;
    background-color: whitesmoke;
}

/* show page */
.show-img {
    height: 60vh;
}

@media (max-width : 800px) {
    .show-card {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .show-img {
        height: 40vh;
        width: 60vw;
    }
    .review-card {
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 2rem !important;
    }
    .card-btns {
        display: flex;
        align-items: center;
    }
    .card-btns input {
        width: 20vw !important;
        margin-left: 10px;
    }
    .card-btns a {
        width: 20vw !important;
    }
    .review-btn {
        width: 30vw !important;
    }
}

/* Map */

#map {
    width: 100%;
    height: 400px;
}

.card-map {
    margin-left: 14vw;
}

@media (max-width : 800px) {
    .card-map {
        width: 100% !important;
        margin-left : 0;
        padding-left: 8vw !important;
    }
    #map {
        width: 80vw;
        height: 40vh;
    }
    .map-title {
        font-size: 15px;
    }
}

/* filters */

.nav-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: white;
}

.scroll-container {
    width: 60%;
    display: flex;
    align-items: center;
}

.scroll-btn {
    height: 2vw;
    border: none;
    font-size: 2rem;
    background-color: white;
}

.scroll-right {
    margin-left: 15px;
}
.scroll-left {
    margin-right: 15px;
}

.scroll-content::-webkit-scrollbar{
    display: none;
}

.scroll-content {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.filter {
    text-align: center;
    margin-top: 1.5rem;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 3rem;
    display: flex;
    border-bottom: 1px solid white;
}

.filter:hover{
    opacity: 1;
    border-bottom: 1px solid black;
}

.filter a {
    text-decoration: none;
    color: black;
}

.filter p {
    font-size: 0.8rem;
    flex-wrap: nowrap;
}

.switch {
    display: flex;
    height: 3rem;
    align-items: center;
    border-radius: 10px;
}

#tax-info {
    display: none;
}


@media (max-width : 800px) {
    .nav-filter {
        display: block;
    }
    .scroll-container {
        width: 100%;
        margin-top: 10px;
    }
    .scroll-content {
        width: 100%;
    }
    .scroll-btn {
        display: none;
    }
    .filter {
        margin-top: 0;
    }
    .switch {
        margin-top: 10px;
        height: 4rem;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
    }
    .switch-btn {
        margin-left: 3rem !important;
        width: 3rem !important;
        height: 1.5rem !important;
        padding-right: 0 !important;
    }
}

/* flash-message */

@media (max-width : 800px) {
    .flash {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

/* login-page */

.hr {
    width: 80%;
    height: 1px;
    background-color: #222;
    /* margin-left: 1rem; */
}

@media (max-width : 800px) {
    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        margin-left: 0 !important;
    }
    .login-div {
        width: 60vw;
    }
    .login-div input {
        width: 80% !important;
        margin-left: 2rem;
    }
    .login-div label {
        margin-left: 2rem;
    }
    .hr {
        margin-left: 1.5rem;
    }
}

/* New-page, Edit-page */

@media (max-width : 800px) {
    .new-form-container {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .edit-form-container {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

